# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native Builds
android/
ios/
ios/Pods/

# Security & Sensitive Keys
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro Bundler
.metro-health-check*

# Debug Files
npm-debug.*
yarn-debug.*
yarn-error.*
*.lock

# macOS System Files
.DS_Store

# Local Environment Files
.env*
.env*.local

# TypeScript
*.tsbuildinfo

# Tests & Coverage
__tests__/
coverage/

# Example Files
app-example

# IDEs
.idea/
